.home-dark-card {
  width: 100%;
  height: 350px;

  @media (max-width: $breakpoint-md-min) {
    height: 100%;
  }
}

.home-light-card {
  width: 100%;
  height: 350px;
  background-color: $background-gray;

  @media (max-width: $breakpoint-md-min) {
    height: 600px;
  }
}

.home-light-card-small {
  width: 100%;
  height: 300px;
  background-color: $background-gray;
}

.profile-text-info {
  width: 100%;
  color: $white;

  @media (max-width: $breakpoint-md-min) {
    width: 100%;
    padding-bottom: 20px;
  }

  .profile-name {
    font-size: $font-extra-large;
    margin-bottom: 10px;

    @media (max-width: $breakpoint-md-min) {
      font-size: 3em;
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .profile-job {
    font-size: $font-large;
    background-color: $gray;
    padding: 5px 0;
  }

  .name-size {
    width: 50%;
  }
}

.profile-photo {
  img {
    width: 270px;
  }

  @media (max-width: $breakpoint-md-min) {
    width: 90%;
    margin-top: 20px;

    img {
      width: 50%;
    }
  }
}

.profile-links {
  width: 60%;
  font-size: 7em;

  .profile-link {
    color: $white;
  }

  .profile-link:hover {
    color: $gray;
  }

  @media (max-width: $breakpoint-md-min) {
    width: 100%;
  }
}

.places-images {
  width: 60%;

  @media (max-width: $breakpoint-md-min) {
    width: 100%;
    margin-bottom: 30px;

    * {
      margin-top: 10px;
    }
  }
}

.contact-info {
  color: $white;
  width: 100%;

  .icon {
    font-size: $font-extra-large;
    margin-right: 5%;
  }

  span {
    font-size: 1.6em;
  }

  div {
    height: 70px;
    width: 38%;
  }

  @media (max-width: $breakpoint-md-min) {
    div {
      width: 100%;
    }
  }
}
