.login-box {
  h1 {
    font-size: $font-extra-large;
    margin-top: 0;
  }

  .login-fields {
    margin-bottom: 50px;

    input {
      border-bottom: 1px solid #A2A2A2;
      text-align: center;
      color: #A2A2A2;
      font-size: $font-normal;
    }
  }

  .login-buttons {
    font-size: 1.1em;

    .login-button {
      width: 150px;
      color: $white;
      background-color: $background-gray;
      font-size: $font-small;
      margin-bottom: 30px;
    }

    .link {
      text-decoration: none;
      color: #14DB71;
    }
  }
}
