@import "pages/index";
@import "pages/project";
@import "pages/login";

@import "adminPages/index";
@import "adminPages/admin";
@import "adminPages/category";
@import "adminPages/comment";
@import "adminPages/post";
@import "adminPages/project";
@import "adminPages/reader";

@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('./fonts/Segoe UI.woff') format('woff');
}


@font-face {
  font-family: 'Segoe UI Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Italic'), url('./fonts/Segoe UI Italic.woff') format('woff');
}


@font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold'), url('./fonts/Segoe UI Bold.woff') format('woff');
}


@font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold Italic'), url('./fonts/Segoe UI Bold Italic.woff') format('woff');
}

body {
  background-color: $background-dark-gray;
  font-family: "Segoe UI Regular", sans-serif;
}

.breakpoint-grid {
  * {
    max-width: 1140px;
  }
}

.grid-container {
  width: 100%;
}

h1 {
  color: $white;
  font-family: "Segoe UI Regular", sans-serif;
  font-size: $font-very-large;
  line-height: 2em;
}

.header-style {
  background-color: $gray;
}

.side-menu {
  * {
    background-color: $background-gray;
    color: $white;
  }

  .menu-list {
    font-size: $font-normal;
    margin-top: 50px;

    .submenu {
      margin-left: 20px;
    }
  }
}

.footer-style {
  background-color: $background-dark-gray;
  height: 50px;
}

.admin-page {
  width: 95%;
  background-color: $background-gray;
}

.admin-buttons {
  width: 100%;
  color: $white;
  margin-top: 50px;
  margin-bottom: 30px;

  .btn-cancelar {
    font-size: 1.1em;
    width: 130px;
    background-color: $gray;
    margin-right: 30px;
  }

  .btn-salvar {
    font-size: 1.1em;
    width: 130px;
    background-color: $gray;
    margin-left: 30px;
  }
}

.btn-logout {
  width: 100px;
  border-radius: 5px;
}

.table {
  margin-top: 10px;
  margin-bottom: 50px;

  .action-buttons {
    .btn {
      background-color: $background-gray;
    }
  }

  .btn-space {
    margin-left: 15px;
  }
}

.header-cell-style {
  text-align: center;
  color: #14DB71;
}

.crud-fields {
  width: 40%;
  margin-bottom: 30px;

  * {
    font-size: 1.02em;
    text-align: center;
  }
}
