// Application Theme Variables

$white: #fff;
$gray: #4B4B4B;
$background-gray: #2E2E2E;
$background-dark-gray: #242424;

$hover-white: rgba(255, 255, 255, 0.05);

$font-small: 1em;
$font-normal: 1.3em;
$font-large: 2em;
$font-very-large: 2.2em;
$font-extra-large: 3em;
