.welcome-message {
  font-size: 1.5em;
  color: #14DB71;
}

.wizard-menu {
  margin-bottom: 50px;

  h1 {
    font-size: 2em;
    text-align: center;
  }

  ul {
    color: #b5b5b5;
    font-size: 1.3em;
  }
}
